@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    text-align: center;
}

h1 {
    display: inline-block;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    margin: 20px;
}

#top-buttons {
    display: inline-block;
    text-align: center;
}

#top-buttons > button {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 2rem;
    padding: 10px;
    border: 2px solid black;
    margin: 0px 30px 20px;
}

/* #start {
    
}

#quit {
    
} */

.round-and-score {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

#round, #score {
    display: inline-block;
    width: 349px;
    height: 80px;
    border: 2px solid black;
    border-bottom: 0px;
}

#round {
    border-left-width: 2px;
    border-right-width: 1px;
}

#score {
    border-left-width: 1px;
    border-right-width: 2px;
}

.game-area-div {
    font-size: 0px;
    text-align: center;
}

.game-area {
    display: inline-block;
    width: 700px;
    height: 500px;
    border: 2px solid black;
}

.question-and-answer {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.question, .answer {
    display: inline-block;
    width: 349px;
    height: 300px;
    border: 2px solid black;
    border-top: 0px;
}

.question {
    border-right-width: 1px;
}

.answer {
    border-left-width: 1px;
}

.circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 12.5px;
    background-color: black;
    border-radius: 50%;
}

.triangle {
    display: inline-block;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid black;
    margin: 12.5px;
}
